<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
<script src="/assets/js/bootstrap.min.js" type="text/javascript"/-->
<link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div align="center">
    <!--@thymesVar id="names" type="java.util.ArrayList"-->
    <tr th:each="name : ${names}">
        <td th:text="${name}">1</td>
    </tr>
</div>
</body>
</html>